In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=datasets.load_boston()
print(type(data))

<class 'sklearn.utils.Bunch'>

In [3]:
X=data.data
Y=data.target

In [4]:
df=pd.DataFrame(X)
df.columns=data.feature_names
print(df.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [5]:
columns=df.columns
#Here, we are adding all the 2 degree columns in the dataset like CRIM_CRIM, CRIM_ZN, ZN_INDUS etc.,.
for i in range(len(columns)):
    for j in range(i,len(columns)):
        st=columns[i]+"_"+columns[j]
        df[st]=df[columns[i]]*df[columns[j]]

data2=df.values
X2=data2[:,:]
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,TAX_TAX,TAX_PTRATIO,TAX_B,TAX_LSTAT,PTRATIO_PTRATIO,PTRATIO_B,PTRATIO_LSTAT,B_B,B_LSTAT,LSTAT_LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,87616.0,4528.8,117482.40,1474.08,234.09,6072.570,76.194,157529.6100,1976.5620,24.8004
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,58564.0,4307.6,96049.80,2211.88,316.84,7064.820,162.692,157529.6100,3627.6660,83.5396
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,58564.0,4307.6,95064.86,975.26,316.84,6992.374,71.734,154315.4089,1583.1049,16.2409
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,49284.0,4151.4,87607.86,652.68,349.69,7379.581,54.978,155732.8369,1160.2122,8.6436
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,49284.0,4151.4,88111.80,1183.26,349.69,7422.030,99.671,157529.6100,2115.4770,28.4089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,...,74529.0,5733.0,107013.27,2639.91,441.00,8231.790,203.070,153656.1601,3790.5433,93.5089
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,...,74529.0,5733.0,108353.70,2478.84,441.00,8334.900,190.680,157529.6100,3603.8520,82.4464
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,...,74529.0,5733.0,108353.70,1539.72,441.00,8334.900,118.440,157529.6100,2238.5160,31.8096
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,...,74529.0,5733.0,107411.85,1769.04,441.00,8262.450,136.080,154802.9025,2549.5560,41.9904
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,...,74529.0,5733.0,108353.70,2151.24,441.00,8334.900,165.480,157529.6100,3127.5720,62.0944

In [6]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,TAX_TAX,TAX_PTRATIO,TAX_B,TAX_LSTAT,PTRATIO_PTRATIO,PTRATIO_B,PTRATIO_LSTAT,B_B,B_LSTAT,LSTAT_LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,506.000000,506.000000,506.00000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,...,195006.197628,7702.055336,138823.11502,5818.871146,345.284447,6547.619334,239.290334,135534.645253,4274.823238,210.993989
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,...,157613.919181,3732.003358,64619.91997,5083.126041,76.318094,1837.557901,145.807763,41830.850997,2613.501822,236.061920
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,...,34969.000000,2692.800000,213.12000,498.960000,158.760000,6.464000,25.431000,0.102400,5.580800,2.992900
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,...,77841.000000,4913.600000,101240.04000,2051.340000,302.760000,6140.250000,122.942000,140908.274275,2355.214275,48.303700
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,...,108900.000000,5924.100000,119658.91500,3724.380000,362.905000,7078.025500,205.030000,153225.273700,3804.722600,129.050000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,...,443556.000000,13453.200000,160982.30250,8489.782500,408.040000,7695.286500,334.360500,156994.250700,5640.628650,287.472100
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,...,505521.000000,14291.100000,282195.90000,25288.020000,484.000000,8421.600000,766.994000,157529.610000,15070.293000,1441.720900

In [7]:
from sklearn import model_selection

In [8]:
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y,random_state=0)
X2_train,X2_test,Y2_train,Y2_test=model_selection.train_test_split(X2,Y,random_state=0)
#random state is used to send the same train data in X_train and X2_train and vice versa

In [9]:
from sklearn.linear_model import LinearRegression

alg1=LinearRegression()
alg2=LinearRegression()

In [10]:
alg1.fit(X_train,Y_train)
alg2.fit(X2_train,Y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
Y_predict=alg1.predict(X_test)
Y_predict2=alg2.predict(X2_test)

In [12]:
print(alg1.score(X_train,Y_train)) #now adding the new colmn of age_age improves the score
print(alg2.score(X2_train,Y2_train)) #here, training data gets imporve

0.7697699488741149
0.9520519609032728

In [13]:
print(alg1.score(X_test,Y_test))
print(alg2.score(X2_test,Y2_test)) #but the testing data gets reduced

0.6354638433202129
0.607472195968976