In [1]:
import numpy as np
import pandas as pd
import math

data=pd.read_csv("terrorismData.csv")

killed=[]
wounded=[]
country=[]

for row in data:
    killed.append(data['Killed'])
    wounded.append(data['Wounded'])
    country.append(data['Country'])

killed=killed[1]
wounded=wounded[1]
country=country[1]

In [2]:
country=np.array(country)
killed=np.array(killed)
killed=np.nan_to_num(killed)
wounded=np.array(wounded)
wounded=np.nan_to_num(wounded)

In [3]:
killed_wounded=killed+wounded

In [4]:
bool_arr=country=='India'

killed_wounded_india=killed_wounded[bool_arr]

print(killed_wounded_india.sum())

print(killed_wounded.sum())

48321.0
935737.0

In [6]:
import numpy as np
import pandas as pd

data=pd.read_csv("terrorismData.csv")

mon=[]
year=[]
city=[]
killed=[]
wounded=[]
grp=[]
state=[]

for row in data:
    mon.append(data['Month'])
    year.append(data['Year'])
    city.append(data['City'])
    wounded.append(data['Wounded'])
    killed.append(data['Killed'])
    grp.append(data['Group'])
    state.append(data['State'])

city=city[1]
mon=mon[1]
year=year[1]
killed=killed[1]
wounded=killed[1]
grp=grp[1]
state=state[1]

In [7]:
city=np.array(city)
grp=np.array(grp)
state=np.array(state)
mon=np.array(mon)
mon=np.array(mon,dtype=int)
year=np.array(year)
year=np.array(year,dtype=int)
killed=np.array(killed)
killed=np.nan_to_num(killed)
wounded=np.array(wounded)
wounded=np.nan_to_num(wounded)
                   
k_w=killed+wounded

In [8]:
#mon=mon[(year==1999) & (mon>=5) & (mon<=7)]
city=city[(year==1999) & (mon>=5) & (mon<=7) & (state=="Jammu and Kashmir")]
k_w=k_w[(year==1999) & (mon>=5) & (mon<=7) & (state=="Jammu and Kashmir")] 
grp=grp[(year==1999) & (mon>=5) & (mon<=7) & (state=="Jammu and Kashmir")]
#state=state[(year==1999) & (mon>=5) & (mon<=7) & (state=="Jammu and Kashmir")]

print(city.shape)
print(grp.shape)
print(k_w.shape)

(21,)
(21,)
(21,)

In [9]:
uni_city=np.unique(city)


max=0
ans_1=""
ans_2=""

for ci in uni_city:
    t=k_w[city==ci]
    p=grp[city==ci]
    p=np.unique(p)
    if t.sum()>max:
        max=t.sum()
        ans_1=ci
        ans_2=p[0]
        
print(int(max),ans_1,ans_2)

22 Kargil District Separatists

In [10]:
import numpy as np
import pandas as pd

data=pd.read_csv("terrorismData.csv")

killed=[]
wounded=[]
state=[]

for row in data:
    wounded.append(data['Wounded'])
    killed.append(data['Killed'])
    state.append(data['State'])

killed=killed[1]
wounded=wounded[1]
state=state[1]

In [11]:
state=np.array(state)
killed=np.array(killed)
killed=np.nan_to_num(killed)
wounded=np.array(wounded)
wounded=np.nan_to_num(wounded)
                   
k_w=killed+wounded

In [12]:
k_w=k_w[(state=="Jharkhand") | (state=="Odisha") | (state=="Andhra Pradesh") | (state=="Chhattisgarh")] 

print(int(k_w.sum()))

5628

In [13]:
import numpy as np
import pandas as pd

data=pd.read_csv("terrorismData.csv")

killed=[]
wounded=[]
city=[]
coun=[]

for row in data:
    wounded.append(data['Wounded'])
    killed.append(data['Killed'])
    city.append(data['City'])
    coun.append(data['Country'])

killed=killed[1]
wounded=wounded[1]
city=city[1]
coun=coun[1]

In [14]:
city=np.array(city)
coun=np.array(coun)
killed=np.array(killed)
killed=np.nan_to_num(killed)
wounded=np.array(wounded)
wounded=np.nan_to_num(wounded)
                   
k_w=killed+wounded

In [15]:
bool_arr=(coun=='India') & (city!='Unknown')

k_w=k_w[bool_arr] 
city=city[bool_arr]

print(k_w.shape)
print(city)

(11336,)
['New Delhi' 'Samastipur' 'New Delhi' ... 'Lethapora' 'Hungrum' 'Imphal']

In [16]:
uni_ci=np.unique(city)

li=[]

for c in uni_ci:
    t=k_w[city==c]
    li.append((t.sum(),c))
    
li=sorted(li,reverse=True)  

for ele in li[:5]:
    print(ele[1],int(ele[0]))

Srinagar 3134
New Delhi 2095
Mumbai 2016
Jammu 1119
Guwahati 822