In [23]:
import pandas as pd
import numpy as np

In [24]:
df=pd.read_csv("Train.csv")
df

                                                  review label
0      mature intelligent and highly charged melodram...   pos
1      http://video.google.com/videoplay?docid=211772...   pos
2      Title: Opera (1987) Director: Dario Argento Ca...   pos
3      I think a lot of people just wrote this off as...   pos
4      This is a story of two dogs and a cat looking ...   pos
...                                                  ...   ...
39995  There are similarities between Ray Lawrence's ...   neg
39996  For starters, I once met the director when he ...   neg
39997  Much of "Over Her Dead Body" is so painfully u...   neg
39998  "Lifeforce" is a truly bizarre adaptation of t...   pos
39999  I saw this movie at a screener and its the bes...   pos

[40000 rows x 2 columns]

In [25]:
df['label2']=np.where(df['label']=="pos",1,0)
df

                                                  review label  label2
0      mature intelligent and highly charged melodram...   pos       1
1      http://video.google.com/videoplay?docid=211772...   pos       1
2      Title: Opera (1987) Director: Dario Argento Ca...   pos       1
3      I think a lot of people just wrote this off as...   pos       1
4      This is a story of two dogs and a cat looking ...   pos       1
...                                                  ...   ...     ...
39995  There are similarities between Ray Lawrence's ...   neg       0
39996  For starters, I once met the director when he ...   neg       0
39997  Much of "Over Her Dead Body" is so painfully u...   neg       0
39998  "Lifeforce" is a truly bizarre adaptation of t...   pos       1
39999  I saw this movie at a screener and its the bes...   pos       1

[40000 rows x 3 columns]

In [26]:
import re
from nltk.stem.snowball import PorterStemmer
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords

ps=PorterStemmer()
tokenizer=RegexpTokenizer(r'\w+')

sw=set(stopwords.words('english'))

def mytokenizer(text):
    text=text.lower()
    text=text.replace("<br /><br />"," ")
    text=re.sub("[^a-zA-Z]+"," ",text)
    words=text.split()
    words=[ps.stem(w) for w in words if w not in sw]
    return " ".join(words)

In [27]:
df['cleaned_reviewed']=df['review'].apply(mytokenizer)
df

,review,label,label2,cleaned_reviewed
0,mature intelligent and highly charged melodram...,pos,1,matur intellig highli charg melodrama unbelive...
1,http://video.google.com/videoplay?docid=211772...,pos,1,http video googl com videoplay docid hl en dis...
2,Title: Opera (1987) Director: Dario Argento Ca...,pos,1,titl opera director dario argento cast cristin...
3,I think a lot of people just wrote this off as...,pos,1,think lot peopl wrote anoth one tom cruis weir...
4,This is a story of two dogs and a cat looking ...,pos,1,stori two dog cat look way back home old wise ...
...,...,...,...,...
39995,There are similarities between Ray Lawrence's ...,neg,0,similar ray lawrenc jindabyn last movi lantana...
39996,"For starters, I once met the director when he ...",neg,0,starter met director go ww enact period movi c...
39997,"Much of ""Over Her Dead Body"" is so painfully u...",neg,0,much dead bodi pain unfunni actual squirm seat...
39998,"""Lifeforce"" is a truly bizarre adaptation of t...",pos,1,lifeforc truli bizarr adapt novel space vampir...
39999,I saw this movie at a screener and its the bes...,pos,1,saw movi screener best movi seen loooong time ...

In [34]:
X=df['cleaned_reviewed'].values
X

array(['matur intellig highli charg melodrama unbelivebl film china wei wei stun perform catylast love triangl simpli stun oppurun see magnific film take',
       'http video googl com videoplay docid hl en distribut tri opt mass appeal want best possibl view rang forgo profit continu manual labor job gladli entertain work view texa tale pleas write like like alex like stuie texa texa tale write opinion rule',
       'titl opera director dario argento cast cristina masillach ian charleson urbano barberini daria nicolodi review argento movi seen suspiria one blew away style color spooki stori line next decid go opera told one best man think discov ultim one favorit horror director opera young opera singer get big break main star creepi modern opera take mc beth get hit car betti understudi get part bad psycho make watch brutal murder friend co worker wow id heard good thing flick prepar level great film would take yeah movi shortcom ill get later part movi blew away first movi fill lot color suspiria expect bit like suspiria depart surpris look feel film somehow devoid color lot color certain scene like master kitchen live room sequenc argento fill screen lush green blue part film grayish black tone like distinct look real star show incred well orchestr death sequenc wow everi death scene like work art beauti destruct typic hack slash death sequenc death care construct shock get situat love everi second plenti blood mayhem style gonna spoil em though direct man realli origin beauti shot one love invent use camera one thought tarantino shot kill bill vol see bullet come chamber gun origin well movi lift honestli believ tarantino heavili influenc specif movi certain scene kill bill vol heck make featur mention whole scene beatrix hospit ell driver come kill influenc italian giallo friend proof anyhow tarantino refer asid movi amaz camera shot like scene crow fli crowd opera hous great stuff main reason argento becom one favorit act cast alright best far cristina marsillach tortur young opera singer betti look eye murder commit great rest cast littl wooden stiff noth would deter enjoy film thing like movi first logic thrown window certain scene special involv betti reaction she seen murder seem longest time went busi tell anyon whole thing even polic mean see someon brutal murder love one front eye walk away murder scene continu life someon would connect murder might even becom suspect also end bit anti climact see understand seem bit unnecessari way film end felt like could end earlier would felt redund that real big problem realli sinc enjoy rest beauti film still got lot argento territori cover devour everi step way like eat plate expens caviar guy realli good think film work art seen two em cant wait discov rest film argento man rate',
       ...,
       'much dead bodi pain unfunni actual squirm seat embarrass actor eva longoria prove carri film terribl romant comedi realli even comed time grate annoy ghost return earth keep cooki psychic date widow fianc fianc play paul rudd drippi charmless psychic play lake bell bring movi whatev anem energi felt sorri bell appear comic abil work overtim effort make materi work unfortun insurmount task make movi featur jason bigg toler drag rest cast like leo dicaprio end titan dead bodi actual pi ed lazi utter lack effort start think interest project get fund vast amount money funnel bland crap like serious hollywood think movi like good enough stupid realli think movi go public grade f',
       'lifeforc truli bizarr adapt novel space vampir colin wilson script dan bannon jakobi joint american british space explor team make mind boggl discoveri alien spacecraft rest insid halley comet contain three entiti look like peopl one femal beauti oh allur mathilda may take discoveri back board spacecraft big mistak turn creatur drain life human be american colonel carlsen intens edgi commit steve railsback british colonel cain solid peter firth watch horror infest vampir overtak london fate earth balanc pictur certainli lack imagin move littl slowli time offer mani strang fanci idea eye pop visual hard amus first director tobe hooper three pictur deal cannon film follow texa chainsaw massacr ii invad mar remak make someth truli uniqu incorpor element sci fi vampir film zombi film end world saga like noth seen railsback firth abli support strong brit actor frank finlay patrick stewart michael gothard aubrey morri john hallam mathilda may memor bewitch enigmat villai certainli hurt perform great deal scene nude also worth note stir music score none pink panther compos henri mancini ridicul may found fun well flamboy spirit entertain',
       'saw movi screener best movi seen loooong time love jame franco sooo hot sienna miller make perfect coupl want give away happen play pair newlyw go honeymoon niagara fall pretti wild stuff happen along way movi realli realli funni sad origin even say remind go see cri hard realli love wanna see soon come friend cri hope come soon anyon know would realli go see'],
      dtype=object)

In [35]:
Y=df['label2'].values
Y

array([1, 1, 1, ..., 0, 1, 1])

In [36]:
df['cleaned_reviewed'][11]

'robert jordan televis star robert jordan like thing orderli time properli execut world children seen heard would mr jordan want becom master rambuncti band boy scout rate staff figur learn interact youth inclin watch show cours watch jordan cope compris fun like mr belveder mr belveder goe colleg one sure pleas anyon interest obtain copi film pleas write iamas yahoo com'

## Splitting

In [63]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

X_train.shape,Y_train.shape

((32000,), (32000,))

In [64]:
X_train[0],Y_train[0]

('one previou review call film pure visual joy wonder saw film high art relentlessli depress interior sinc seven one almost forgiv sheedi mitchel clich go b b first time cours one watch opium den parti inhabit peopl appar gain employ somehow support flourish drug habit mention ici stare familiar movi type girlfriend boyfriend start well awar go thrown sometim next minut movi also state sheedi charact retir profession photographi ten year retir age twenti',
 0)

In [136]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

cv=CountVectorizer(max_df=0.2,max_features=50000)

In [137]:
x_vec=cv.fit_transform(X_train)
x_vec

<32000x50000 sparse matrix of type '<class 'numpy.int64'>'
	with 2527392 stored elements in Compressed Sparse Row format>

In [138]:
x_vec.shape

(32000, 50000)

In [139]:
print(x_vec[0])

  (0, 33529)	1
  (0, 35097)	1
  (0, 6579)	1
  (0, 33925)	1
  (0, 47172)	1
  (0, 23776)	1
  (0, 48746)	1
  (0, 36430)	1
  (0, 20421)	1
  (0, 2506)	1
  (0, 34807)	1
  (0, 10531)	1
  (0, 22569)	1
  (0, 38487)	1
  (0, 37482)	1
  (0, 1246)	1
  (0, 15971)	1
  (0, 37780)	2
  (0, 29410)	1
  (0, 7897)	1
  (0, 8813)	1
  (0, 31363)	1
  (0, 10433)	1
  (0, 32054)	1
  (0, 22328)	1
  :	:
  (0, 41581)	1
  (0, 15707)	1
  (0, 12180)	1
  (0, 19120)	1
  (0, 28890)	1
  (0, 21620)	1
  (0, 40357)	1
  (0, 14604)	1
  (0, 44871)	1
  (0, 17652)	1
  (0, 5797)	1
  (0, 40395)	1
  (0, 3126)	1
  (0, 43258)	1
  (0, 39453)	1
  (0, 30566)	1
  (0, 29284)	1
  (0, 40407)	1
  (0, 35054)	2
  (0, 33636)	1
  (0, 32629)	1
  (0, 42709)	1
  (0, 49299)	1
  (0, 695)	1
  (0, 44800)	1

In [140]:
tfidf=TfidfTransformer()
x_vec2=tfidf.fit_transform(x_vec)
x_vec2.shape

(32000, 50000)

In [141]:
print(x_vec2[0])

  (0, 49299)	0.06185327804166149
  (0, 48746)	0.07346009183417203
  (0, 47172)	0.10293510004272015
  (0, 44871)	0.09472746174966591
  (0, 44800)	0.12641559021136317
  (0, 43258)	0.1214076147333798
  (0, 42709)	0.10590179597177907
  (0, 41581)	0.09392428559544776
  (0, 40407)	0.10133942909318905
  (0, 40395)	0.07144586690148912
  (0, 40357)	0.13749236266047443
  (0, 39453)	0.09769028165147892
  (0, 39438)	0.10827979940577794
  (0, 38487)	0.07777451094150457
  (0, 37780)	0.4185236180748319
  (0, 37482)	0.12958420271428706
  (0, 36430)	0.07615268885414388
  (0, 35097)	0.08668097224619851
  (0, 35054)	0.28896660461149126
  (0, 34807)	0.17176701690125296
  (0, 33925)	0.10924085843136866
  (0, 33636)	0.12035088795177613
  (0, 33529)	0.1112587840942492
  (0, 32629)	0.12094232929551614
  (0, 32054)	0.11277208738431793
  :	:
  (0, 28890)	0.0918672764537478
  (0, 23776)	0.12624184273009573
  (0, 22569)	0.15585092553657942
  (0, 22328)	0.14498961594565263
  (0, 21620)	0.18339753493573085
  (0, 20421)	0.08450562467107768
  (0, 19120)	0.15775226405847836
  (0, 17652)	0.11119779266931917
  (0, 16770)	0.13255749507848452
  (0, 15971)	0.13387654020969383
  (0, 15707)	0.1761392956512479
  (0, 14604)	0.11373586010674246
  (0, 13354)	0.13805741402851568
  (0, 12180)	0.11021359826933276
  (0, 10531)	0.12048606158736716
  (0, 10433)	0.18848800570714105
  (0, 8813)	0.08163922583720275
  (0, 7897)	0.10100125217026115
  (0, 6579)	0.07833339167706196
  (0, 5797)	0.12212325271595638
  (0, 3126)	0.12766910861101194
  (0, 2506)	0.09475774172407238
  (0, 2104)	0.09808829301818899
  (0, 1246)	0.07653381483084613
  (0, 695)	0.09123273580311082

In [142]:
xt_vec=cv.transform(X_test)
xt_vec=tfidf.transform(xt_vec)
xt_vec.shape

(8000, 50000)

In [143]:
from sklearn.naive_bayes import MultinomialNB,BernoulliNB,GaussianNB

In [148]:
mnb=MultinomialNB()
bnb=BernoulliNB()

In [149]:
mnb.fit(x_vec2,Y_train)
bnb.fit(x_vec2,Y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [151]:
mnb.score(xt_vec,Y_test),bnb.score(xt_vec,Y_test)

(0.862375, 0.8395)

In [153]:
mnb.score(x_vec,Y_train),bnb.score(xt_vec,Y_test)

(0.88971875, 0.8395)

## Testing on test data

In [77]:
df2=pd.read_csv("Test.csv")
df2

                                                 review
0     Remember those old kung fu movies we used to w...
1     This movie is another one on my List of Movies...
2     How in the world does a thing like this get in...
3     "Queen of the Damned" is one of the best vampi...
4     The Caprica episode (S01E01) is well done as a...
...                                                 ...
9995  Watched this piece ONDEMAND because the descri...
9996  A nurse travels to a rural psychiatric clinic ...
9997  Although this small film kind of got lost in t...
9998  I first saw this film in the early 80's on cab...
9999  Recognizing the picture of the diner on the co...

[10000 rows x 1 columns]

In [78]:
df2['cleaned_reviewed']=df2['review'].apply(mytokenizer)
df2

,review,cleaned_reviewed
0,Remember those old kung fu movies we used to w...,rememb old kung fu movi use watch friday satur...
1,This movie is another one on my List of Movies...,movi anoth one list movi bother saw year ago a...
2,How in the world does a thing like this get in...,world thing like get dvd player home even get ...
3,"""Queen of the Damned"" is one of the best vampi...",queen damn one best vampir movi ever seen movi...
4,The Caprica episode (S01E01) is well done as a...,caprica episod e well done pilot realli episod...
...,...,...
9995,Watched this piece ONDEMAND because the descri...,watch piec ondemand descript kind outlandish f...
9996,A nurse travels to a rural psychiatric clinic ...,nurs travel rural psychiatr clinic run doctor ...
9997,Although this small film kind of got lost in t...,although small film kind got lost wake waterfr...
9998,I first saw this film in the early 80's on cab...,first saw film earli cabl uniqu statement sixt...
9999,Recognizing the picture of the diner on the co...,recogn pictur diner cover dvd made realiz loca...

In [80]:
X_test_val=df2['cleaned_reviewed'].values
X_test_val.shape

(10000,)

In [81]:
# Methpd:

def getReviews(X,Y,X_test):
    cv=CountVectorizer(max_df=0.5,max_features=50000)
    x_vec=cv.fit_transform(X)
    x_vec=tfidf.fit_transform(x_vec)
    xt_vec=cv.transform(X_test)
    xt_vec=tfidf.transform(xt_vec)
    mnb=MultinomialNB()
    mnb.fit(x_vec,Y)
    print(mnb.score(x_vec,Y))
    return mnb.predict(xt_vec)

In [82]:
Y_pred=getReviews(X,Y,X_test_val)

0.895375

In [83]:
Y_pred

array([0, 0, 0, ..., 1, 1, 0])

In [84]:
Yp=np.where(Y_pred==1,"pos","neg")
Yp

array(['neg', 'neg', 'neg', ..., 'pos', 'pos', 'neg'], dtype='<U3')

In [85]:
ind=[i for i in range(Y_pred.shape[0])]
res=list(zip(ind,Yp))

In [86]:
ans=pd.DataFrame(res,columns=['Id','label'])
ans

        Id label
0        0   neg
1        1   neg
2        2   neg
3        3   pos
4        4   pos
...    ...   ...
9995  9995   neg
9996  9996   pos
9997  9997   pos
9998  9998   pos
9999  9999   neg

[10000 rows x 2 columns]

In [87]:
ans.to_csv("Final_ans.csv",index=None)